<%= form_with(model: @sale_item, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :sale_price %>

    <%= f.text_field :sale_price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :item_status %>

    <%= f.text_field :item_status, class: "form-control" %>
  </div>

  <%= f.hidden_field :seller_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :buyer_id %>

    <%= f.text_field :buyer_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :item_title %>

    <%= f.text_field :item_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>

    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo_link %>

    <%= f.text_field :photo_link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :item_description %>

    <%= f.text_field :item_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :item_category %>

    <%= f.collection_select :item_category, Category.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create sale item", class: "btn btn-block btn-outline-secondary" %>
<% end %>
