<%= form_with(model: @message, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :sender_user_id %>

    <%= f.text_field :sender_user_id, class: "form-control" %>
  </div>

  <%= f.hidden_field :recipient_user_id, value: @user.id %>

  <%= f.submit "Create message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
