<div class="card mb-3">
  <h2 class="card-header h4">
    Sale Item #<%= sale_item.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Sale price</dt>
      <!-- Display sale_price start -->
      <dd><%= sale_item.sale_price %></dd>
      <!-- Display sale_price end -->

      <dt>Item status</dt>
      <!-- Display item_status start -->
      <dd><%= sale_item.item_status %></dd>
      <!-- Display item_status end -->

      <dt>Seller</dt>
      <!-- Display seller_id start -->
      <dd><%= sale_item.seller_id %></dd>
      <!-- Display seller_id end -->

      <dt>Buyer</dt>
      <!-- Display buyer_id start -->
      <dd><%= sale_item.buyer_id %></dd>
      <!-- Display buyer_id end -->

      <dt>Item title</dt>
      <!-- Display item_title start -->
      <dd><%= sale_item.item_title %></dd>
      <!-- Display item_title end -->

      <dt>Location</dt>
      <!-- Display location start -->
      <dd><%= sale_item.location %></dd>
      <!-- Display location end -->

      <dt>Photo link</dt>
      <!-- Display photo_link start -->
      <dd><%= sale_item.photo_link %></dd>
      <!-- Display photo_link end -->

      <dt>Item description</dt>
      <!-- Display item_description start -->
      <dd><%= sale_item.item_description %></dd>
      <!-- Display item_description end -->

      <dt>Item category</dt>
      <!-- Display item_category start -->
      <dd><%= sale_item.item_category %></dd>
      <!-- Display item_category end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back sale_item, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link sale_item start -->
      <div class="col">
        <%= link_to edit_sale_item_url(sale_item), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link sale_item end -->

      <!-- Delete link sale_item start -->
      <div class="col">
        <%= link_to sale_item, method: :delete, data: { confirm: "Do you really want to delete this sale_item?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link sale_item end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(sale_item.updated_at) %> ago
  </div>
</div>
