<div class="card mb-3">
  <h2 class="card-header h4">
    Sale Item #<%= sale_item.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Sale price</dt>
      <dd><%= sale_item.sale_price %></dd>

      <dt>Item status</dt>
      <dd><%= sale_item.item_status %></dd>

      <dt>Seller</dt>
      <dd>
        <% if @sale_item.seller.present? %>
          <%= link_to sale_item.seller, sale_item.seller %>
        <% end %>
      </dd>

      <dt>Buyer</dt>
      <dd>
        <% if @sale_item.buyer.present? %>
          <%= link_to sale_item.buyer, sale_item.buyer %>
        <% end %>
      </dd>

      <dt>Item title</dt>
      <dd><%= sale_item.item_title %></dd>

      <dt>Location</dt>
      <dd><%= sale_item.location %></dd>

      <dt>Photo link</dt>
      <dd><%= sale_item.photo_link %></dd>

      <dt>Item description</dt>
      <dd><%= sale_item.item_description %></dd>

      <dt>Item category</dt>
      <dd>
        <% if @sale_item.category.present? %>
          <%= link_to sale_item.category, sale_item.category %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back sale_item, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_sale_item_url(sale_item), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to sale_item, method: :delete, data: { confirm: "Do you really want to delete this sale_item?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(sale_item.updated_at) %> ago
  </div>
</div>
